@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-peachi: 'Peachi';
  --font-poppins: 'Poppins';
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-poppins: var(--font-poppins);
  --font-peachi: var(--font-peachi);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Peachi', Arial, Helvetica, sans-serif;
}

@font-face {
  font-family: 'Peachi';
  src: url("/fonts/peachi.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}